.body-main {
  padding: 40px 15px;
}

body {
  padding-top: 50px;
}

.navbar-default {
  background: #fff;
}

table a {
  color: #000;
}

.text-primary {
  color: rgb(149, 215, 216);
}

.navbar-default .navbar-brand {
  color: rgb(149, 215, 216);
  font-size: 28px;
  height: auto;
  padding: 10px 15px;
  transition: all .2s ease-in-out;
}

.navbar-default .navbar-brand:hover {
  color: rgb(138, 197, 197);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #000;
}

img {
  max-width: 100%;
}

.navbar-nav {
  margin-bottom: 0;
  margin-top: 0;
}

th .glyphicon {
  color: #ccc;
}

th .glyphicon:hover {
  color: #aaa;
}

th .glyphicon.text-primary {
  color: #333;
}

.row {
  display: flex;
  justify-content: center;
}

.btn-default {
  background: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
}

.table .glyphicon-remove-circle, .table .glyphicon-edit {
  margin: 0px 3px;
  cursor: pointer;
  transition: opacity .1s ease-in-out;
  opacity: 0;
}

tr:hover .glyphicon-remove-circle, tr:hover .glyphicon-edit {
  opacity: 1;
}

.controls {
  display: inline;
}

.table .glyphicon-edit:hover{
  color: #0074D9;
}

.table .glyphicon-remove-circle:hover{
  color: #f61717;
}

.row-fluid {
  display: inline-block;
  width: 100%;
}

.highcharts-button {
  cursor: pointer !important;
}

.highcharts-contextmenu > div {
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
  box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
}

.highcharts-contextmenu > div > div {
  font-size: 11px !important;
}

.highcharts-contextmenu > div > div:hover {
  background: rgb(149, 215, 216) !important;
}

.highcharts-contextmenu hr {
  margin: 4px 0px;
}

.highcharts-contextmenu > div > div {
  padding: 5px 10px !important;
}

@media (min-width: 767px) {
  .row .btn.col-xs-12 {
    width: auto;
  }
}
