.body-main {
  padding: 40px 15px;
}

body {
  padding-top: 50px;
}

.navbar-default {
  background: #fff;
}

table a {
  color: #000;
}

.text-primary {
  color: rgb(149, 215, 216);
}

.navbar-default .navbar-brand {
  color: rgb(149, 215, 216);
  font-size: 28px;
  height: auto;
  padding: 10px 15px;
  transition: all .2s ease-in-out;
}

.navbar-default .navbar-brand:hover {
  color: rgb(138, 197, 197);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #000;
}

img {
  max-width: 100%;
}

.navbar-nav {
  margin-bottom: 0;
  margin-top: 0;
}

th .glyphicon {
  color: #ccc;
}

th .glyphicon:hover {
  color: #aaa;
}

th .glyphicon.text-primary {
  color: #333;
}

.row {
  display: flex;
  justify-content: center;
}

.btn-default {
  background: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
}

@media (min-width: 767px) {
  .row .btn.col-xs-12 {
    width: auto;
  }
}
